main.index
  h1.headline Lindekaer
  p.contact <a href="https://github.com/lindekaer">Github</a> | <a href="mailto:theodor.lindekaer@gmail.com">Mail</a> | <a href="https://www.linkedin.com/in/theodor-c-listov-lindekaer-3289833b">LinkedIn</a> | <a href="https://www.facebook.com/theodor.lindekaer">Facebook</a>
  select.articles
    option Pick an article
    for article in articles
      option(value="#{article.id}") #{article.title}