@font-face {
  font-family: 'ColorsOfAutumn';
  src: url('./fonts/ColorsOfAutumn.ttf');
}

$main-color: yellow;
$main-font-color: black;

body {
  background-color: $main-color;
  color: $main-font-color;
}

/*
-----------------------------------------------------------------------------------
|
| Reset
|
-----------------------------------------------------------------------------------
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
-----------------------------------------------------------------------------------
|
| Base
|
-----------------------------------------------------------------------------------
*/

html {
  font-family: 'Helvetica';
  font-size: 18px;
  @media (max-width: 720px) {
    font-size: 14px;
  }
}

body {
  padding-top: 6em;
  @media (max-width: 720px) {
    padding-top: 3em;
  }
}

/*
-----------------------------------------------------------------------------------
|
| Index
|
-----------------------------------------------------------------------------------
*/

main.index {
  text-align: center;
}

.headline {
  font-size: 5em;
  font-family: 'ColorsOfAutumn';
}

.subtitle {
  font-size: 1.5em;
  margin-top: 0.8em;
}

.articles {
  margin-top: 2em;
  min-width: 200px;
}

.article {
  margin: 3em auto 0em auto;
  max-width: 840px;
  padding: 1em;
  @media (max-width: 720px) {
    padding: 0em 1.5em 0em 1.5em;
  }
  transition: all 0.400s ease-in-out;
  opacity: 0;
  transform: translateY(40px);
  &.active {
    opacity: 1;
    transform: translateY(0);
  }
}

.article h1 { 
  font-size: 1.8em; 
  margin-top: 1.2em;
}

.article h2 { 
  font-size: 1.4em;
  margin-top: 1.2em;
}

.article p {
  margin-top: 0.5em;
  line-height: 1.45em;
}

